@page "{handler?}"
@using AccountManagement.Application.Contracts.Account
@model Lampshade.WebApp.Pages.AccountModel
@{
    ViewData["Title"] = "ورود و ثبت نام";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ورود - ثبت نام</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="Index">خانه</a></li>
                            <li class="active">ورود - ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <partial name="Shared/_LoginFormPartial" model="new LoginViewModel()"/>
                            <partial name="Shared/_RegisterFormPartial" model="new RegisterAccountCommand()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="Shared/_ValidationScriptsPartial" />
}