
<div id="sidebar-menu">
    <ul>
        <li>
            <a asp-area="Administrator" asp-page="/Index" class="waves-effect"><i class="md md-home"></i><span> داشبورد </span></a>
        </li>

        <li class="has_sub">
            <a class="waves-effect"><i class="md md-store"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
            <ul class="list-unstyled">
                <li><a asp-area="Administrator" asp-page="/ShopManagement/ProductCategories/Index">گروه محصولات</a></li>
                <li><a asp-area="Administrator" asp-page="/ShopManagement/Products/Index">محصولات</a></li>
                <li><a asp-area="Administrator" asp-page="/ShopManagement/ProductPictures/Index">تصاویر محصولات</a></li>
                <li><a asp-area="Administrator" asp-page="/ShopManagement/Sliders/Index">مدیریت اسلایدرها</a></li>
            </ul>
        </li>
        
        <li class="has_sub">
            <a class="waves-effect"><i class="md md-attach-money"></i><span> تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
            <ul class="list-unstyled">
                <li><a asp-area="Administrator" asp-page="/DiscountsManagement/CustomerDiscounts/Index">تخفیف مشتریان</a></li>
                <li><a asp-area="Administrator" asp-page="/DiscountsManagement/ColleaguesDiscounts/Index">تخفیف همکاران</a></li>
            </ul>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>