@page
@model Lampshade.WebApp.Areas.Administrator.Pages.AccountsManagement.Roles.CreateModel

@{
    ViewData["Title"] = "ایجاد نقش";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">اطلاعات نقش</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Command.Name" class="control-label">نام نقش</label>
                                    <input class="form-control" asp-for="Command.Name">
                                    <span asp-validation-for="Command.Name" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a type="button" class="btn btn-default waves-effect" asp-page="Index">بستن</a>
                        <button type="submit" class="btn btn-success waves-effect waves-light">ایجاد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    
}
